#service-table table tbody {
	display: block;
	max-height: 60vh;
	overflow-y: scroll;
}

#service-table table thead, #service-table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#service-table ::-webkit-scrollbar {
	width: 6px;
}

#service-table ::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#service-table ::-webkit-scrollbar-thumb {
	background: #888888;
	border-radius: 3px;
}

#service-table ::-webkit-scrollbar-thumb:hover {
	background: #555555;
	border-radius: 3px;
}

.ck .ck-editor__editable_inline {
	height: 300px;
}

#cruise-room .wrap-checkbox-4 {
	flex: 1 0 30%;
}
